@charset "utf-8"

$primary: #545d6a
$info: #587594

// $scheme-main: #2b2e2b
$scheme-main: #2e3648
$scheme-main-bis: #242320
$scheme-main-ter: #31302d

// $scheme-invert: #d4d1d4
// $scheme-invert-bis: #dbdcdf
// $scheme-invert-ter: #cecfd2

// $background: #31302d

$text: white
// $text-light: #fffbe6
// $text-strong: #fff7cc

@import "../node_modules/bulma/bulma.sass"